<div id="sidebar">
      <div id="logo">
        <%= link_to "Bloggex", root_path %>
      </div>
 
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>
 
      <ul>
       <li class="category">Social</li>
       <li><a href="https://twitter.com/velsu">Twitter</a></li>
       <li><a href="https://github.com/velsu">Github</a></li>
       <li><a href="mailto:velius@poczta.onet.pl">Email</a></li>
      </ul>
 
      <p class="sign_in">Admin Login</p>
    </div>